/* Feels bad etc. */
$icon-font-path: "../../static/vendor/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'static/vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';

$part: #66361F;
$join: green;
$greentext: #789922;

$mobileform-border: #e7e7e7;

pre {
    @media (max-width: $screen-xs-max) {
        font-size: 12px;
        padding: 4px;
    }

    /* Firefox, not Chrome */
    white-space: normal;
}

.seconds {
    @media (max-width: $screen-xs-max) {
        @media (max-aspect-ratio: 4/3) {
            display: none;
        }
    }
}

/* Navbar deserves to have a nice corner everywhere. */
.navbar {
    border-radius: 4px;
}

/* This really shouldn't be necessary */
.navbar-mobile-margin {
    @media (max-width: $screen-xs-max) {
        padding-left: 15px;
    }
}

.breadcrumb {
    background-color: inherit;
    padding: 0;
    margin-left: 0; /* Some nonsense by navbar-nav */
    margin-bottom: 0; /* 15px by .navbar-text */

    li {
        /* This is not the usual .navbar-nav li, so don't apply the usual styling. */
        float: none;
        
        a {
            padding: 0;
            /* .navbar-default .navbar-nav > li > a is defeating us here. */
            background-color: inherit !important;
            color: $brand-primary !important;
            display: inline;
        }
    }

    /* Don't ask. Just don't. */
    @media (max-width: $screen-xs-max) {
        padding: 7.5px 15px 20px 15px;
        margin-left: -15px;
        border-bottom: 1px solid $mobileform-border;
    }
}

.container {
    margin-top: 20px;
}

.jumbotron {
    p {
        margin-bottom: 10px;
    }

    h2 {
        margin-top: 0;
    }

    input[type="text"] {
        background-color: #f5f5f5;
    }
}

.networks-container {
    margin-top: 50px;
}

.network {
    font-size: $font-size-large;
    margin: 5px;
}

/* Channel and date view */

.header-search {
    font-weight: normal;

    @media (min-width: $screen-sm-min) {
        /* Guessed these values out from somewhere. */
        margin-left: 15px;
    }

    @media (max-width: $screen-xs-max) {
        float: none !important;
        margin-top: 9px; /* symmetry with .page-header */
        width: 100%;
    }

    .form-group {
        margin-bottom: 0;

        @media (max-width: $screen-xs-max) {
            margin-top: 9px;
            margin-bottom: 9px;
        }
        
        /* Setting this as middle does all sorts of weird things. */
        .input-group {
            vertical-align: baseline;
        }

        .pagination {
            @media (min-width: $screen-sm-min) {
                margin-left: 15px;
            }
        }
    }
}

.property {
    margin-right: 15px;

    &:last-of-type {
        margin-right: 0;
    }

    .glyphicon {
        font-size: 24px;
    }

    @media (max-width: $screen-xs-max) {
        font-size: 24px;
        margin-bottom: 9px;
        display: block;
    }
}

/* Search-specific */

.search-result-header {
    margin-top: 30px;

    span {
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0 ;
        }
    }
}

.log-entry {
    /** Hide the last newline in each log entry.
     * I really should just be joining the search result
     * lines with a <br>, but who knows how well that will
     * play with all those filter things we have.
     */

    br:last-of-type, .ellipsis:last-of-type {
        display: none;
    }
}

/* Log */

/* Yes, this is bad and I should feel bad. */
.page-header {
    position: relative;

    @media (max-width: $screen-xs-max) {
        margin-top: 0;
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    .actions {
        @media (min-width: $screen-sm-min) {
            position: absolute;
            right: 0;
            /* The following calue is empirical and subject to experimentation... */
            bottom: 10px;
        }
    }
}

.actions {
    font-size: $font-size-base;

    @media (max-width: $screen-xs-max) {
        float: none !important;
        margin-top: 9px; /* symmetry with .page-header */
    }
}

.pagination {
    margin: 0;

    @media (max-width: $screen-xs-max) {
        width: 100%;

        li {
            text-align: center;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }
}

@for $i from 1 to 5 {
    .pagination-items-#{$i} li a {
        @media (max-width: $screen-xs-max) {
            width: 100% / $i;
        }
    }
}

.hidden {
    display: none;
}

.irc-highlight {
    background-color: yellow;
}

.irc-part {
    color: $part;
}

.irc-join {
    color: $join;
}

.irc-greentext {
    color: $greentext;
}

.irc-bold{font-weight: bold;}
.irc-underline{text-decoration: underline;}

.irc-fg-0{color: #ccc;}
.irc-fg-1{color: #000;}
.irc-fg-2{color: #3636b3;}
.irc-fg-3{color: #2a8d2a;}
.irc-fg-4{color: #c43b3b;}
.irc-fg-5{color: #c83232;}
.irc-fg-6{color: #802780;}
.irc-fg-7{color: #67361f;}
.irc-fg-8{color: #daa741;}
.irc-fg-9{color: #3ecd3e;}
.irc-fg-10{color: #1a5555;}
.irc-fg-11{color: #2f8d75;}
.irc-fg-12{color: #4545e7;}
.irc-fg-13{color: #b137b1;}
.irc-fg-14{color: #4c4c4c;}
.irc-fg-15{color: #969696;}

.irc-bg-0{background-color: #ccc;}
.irc-bg-1{background-color: #000;}
.irc-bg-2{background-color: #3636b3;}
.irc-bg-3{background-color: #2a8d2a;}
.irc-bg-4{background-color: #c43b3b;}
.irc-bg-5{background-color: #c83232;}
.irc-bg-6{background-color: #802780;}
.irc-bg-7{background-color: #67361f;}
.irc-bg-8{background-color: #daa741;}
.irc-bg-9{background-color: #3ecd3e;}
.irc-bg-10{background-color: #1a5555;}
.irc-bg-11{background-color: #2f8d75;}
.irc-bg-12{background-color: #4545e7;}
.irc-bg-13{background-color: #b137b1;}
.irc-bg-14{background-color: #4c4c4c;}
.irc-bg-15{background-color: #969696;}
