{% extends "base.html" %}
{% from "forms.html" import advanced_search, header_text_search %}

{% block title %}
    {{ format_title(channel) }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('network', network=network) }}">{{ network }}</a></li>
    <li class="active"><a href="{{ url_for('channel', network=network, channel=channel) }}">{{ channel }}</a></li>
{% endblock %}

{% block content %}

    {{ advanced_search(network, channel) }}

    <h1 class="page-header clearfix">
        <span class="property">
            <span class="glyphicon glyphicon-globe"></span> {{ network }}
        </span>

        <span class="property">
            <span class="glyphicon glyphicon-list"></span> {{ channel }}
        </span>

        <form class="header-search form-inline pull-right" role="search">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ _('filter dates') }}" data-filter-target=".js-dates">
                </div>
            </div>
        </form>

        {{ header_text_search(network, channel, _('search %(channel)s', channel=channel)) }}

    </h1>

    <div class="js-dates">
        {% for date in dates %}
            <a class="network btn btn-primary" href="{{ url_for('log', network=network, channel=channel, date=date) }}" data-filter-value="{{ date }}">{{ date }}</a>
        {% endfor %}
    </div>
{% endblock %}
