{% extends "base.html" %}
{% from "forms.html" import advanced_search, header_text_search %}

{% block title %}
    {{ format_title(channel) }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('network', network=network) }}">{{ network }}</a></li>
    <li><a href="{{ url_for('channel', network=network, channel=channel) }}">{{ channel }}</a></li>
    <li class="active"><a href="{{ url_for('log', network=network, channel=channel, date=date) }}">{{ date }}</a></li>
{% endblock %}

{% block js_init %}
    {{ super() }}
    new MovementTooltip();
{% endblock %}

{% block content %}

    {{ advanced_search(network, channel) }}

    <h1 class="page-header">
        <span class="property">
            <span class="glyphicon glyphicon-globe"></span> {{ network }}
        </span>

        <span class="property">
            <span class="glyphicon glyphicon-list"></span> {{ channel }}
        </span>

        <span class="property">
            <span class="glyphicon glyphicon-calendar"></span> {{ date }}
        </span>

        <div class="actions">
            {% call header_text_search(network, channel, _('search %(channel)s', channel=channel)) %}
                <div class="form-group">
                    <ul class="pagination pagination-items-{{ pagination_control }}">
                        {% if log.before %}
                            <li>
                                <a href="{{ url_for('log', network=network, channel=channel, date=log.before, _anchor='end') }}">{{ _('&larr; Older') }}</a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="#end">{{ _('Bottom') }}</a>
                        </li>

                        {% if log.after %}
                            <li>
                                <a href="{{ url_for('log', network=network, channel=channel, date=log.after) }}">{{ _('Newer &rarr;') }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endcall %}
        </div>
    </h1>

    <pre class="log-entry">
{% for line_no, line in log.log %}<span>{{ line | clinkify | control_codes | line_style(line_no, is_search=False) | safe }}</span><br>{% endfor %}
</pre>

    <a id="end"></a>

    <div class="actions actions-bottom pull-right">
        <nav>
            <ul class="pagination pagination-items-{{ pagination_control }}">
                {% if log.before %}
                    <li>
                        <a href="{{ url_for('log', network=network, channel=channel, date=log.before, _anchor='end') }}">{{ _('&larr; Older') }}</a>
                    </li>
                    {% endif %}

                <li>
                    <a href="#top">{{ _('Top') }}</a>
                </li>

                {% if log.after %}
                    <li>
                        <a href="{{ url_for('log', network=network, channel=channel, date=log.after) }}">{{ _('Newer &rarr;') }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
