{% extends "base.html" %}

{% block title %}
    {{ format_title(format_search_title(form.text.data)) }}
{% endblock %}

{% block breadcrumb %}
    <!-- For now, searches can only be done in a channel context. -->
    <!-- So it makes sense to breadcrumb those here. -->
    {% if network %}
        <li><a href="{{ url_for('network', network=network) }}">{{ network }}</a></li>
    {% endif %}

    {% if channel %}
        <li><a href="{{ url_for('channel', network=network, channel=channel) }}">{{ channel }}</a></li>
    {% endif %}

    <li class="active"><a href="{{ encoded_path }}">{{ format_search_title(form.text.data) }}</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">
        <span class="property">
            <span class="glyphicon glyphicon-search"></span>
            {% if form.text.data %}
                {{ form.text.data }}
            {% else %}
                Search
            {% endif %}
        </span>
        
        {% if network %}
            <span class="property">
                <span class="glyphicon glyphicon-globe"></span> {{ network }}
            </span>
        {% endif %}

        {% if channel %}
            <span class="property">
                <span class="glyphicon glyphicon-list"></span> {{ channel }}
            </span>
        {% endif %}

        <form class="title-search-form small pull-right" role="search" action="/search">
            <input type="hidden" name="network" value="{{ network }}">
            <input type="hidden" name="channel" value="{{ channel }}">

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="text" name="text" class="form-control" placeholder="text search" value="{% if form.text.data %}{{ form.text.data }}{% endif %}">
            </div>
        </form>
    </h1>

    {% if not valid %}
        <div class="alert alert-warning" role="alert">
            <!-- By rights, this should not belong here. -->
            {% if not network %}
                No network scope was provided. For performance reasons, searches need to occur to occur in a network scope.
                <a href="{{ url_for('index') }}">Choose a network</a> and try again?
            {% else %}
                You didn't provide any search terms. Try again?
            {% endif %}
        </div>
    {% endif %}

    {% if results %}
    {% include "search_result.html" %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            <!-- By rights, this should not belong here. -->
            Sorry, there were no search results.
        </div>
    {% endif %}

{% endblock %}
